{{ $recommendations := .User.BookRatings }} {{ $user := .User }}
<div class="book-container">
    {{ range $recommendations }}
    <div class="book-item">
        <div class="book-image">
            <img src="{{ .Book.ImageUrl }}" alt="{{ .Book.Title }}" />
        </div>
        <div class="book-title">{{ .Book.Title }}</div>
        <div class="book-author-container">
            {{ range .Book.Authors }}
            <div class="book-author">{{ . }}</div>
            {{ end }}
        </div>
        <form method="post">
            <select name="rating" onchange="this.form.submit()">
                <option value="0">Brisanje ocjene</option>
                <option value="1" {{ if eq .Rating 1 }} selected {{ end }}>
                    1
                </option>
                <option value="2" {{ if eq .Rating 2 }} selected {{ end }}>
                    2
                </option>
                <option value="3" {{ if eq .Rating 3 }} selected {{ end }}>
                    3
                </option>
                <option value="4" {{ if eq .Rating 4 }} selected {{ end }}>
                    4
                </option>
                <option value="5" {{ if eq .Rating 5 }} selected {{ end }}>
                    5
                </option>
            </select>
            <input type="hidden" name="userId" value="{{ $user.Id }}" />
            <input type="hidden" name="bookId" value="{{ .Book.BookId }}" />
        </form>
    </div>
    {{ end }}
</div>
