<!doctype html>
<html lang="en">

<head>
    {{ template "header.html" . }}
</head>

<body>
    <h1>Najpopularnije knjige</h1>
    {{ template "book_bar_average_rating.html" .TopBooks }}
    <select onchange="selectOnChange(this)">
        {{ $selectedTag := .SelectedTag }} {{ $tags := .Tags }} {{ range
        $tags }}
        <option {{ if eq .Name $selectedTag }} selected {{ end }} value="{{ .Name }}">
            {{ .Name }}
        </option>
        {{ end }}
    </select>
    <h1>Najpopularnije knjige prema odabranom tagu</h1>
    {{ template "book_bar_average_rating.html" .TopBooksByTag }}
</body>

</html>
